{
    "swagger": "2.0",
    "info": {
        "description": "O projeto Bluebank tem como objetivo criar uma API para gerenciar as transações de um banco fictício utilizando Java, MySQL e AWS.\nNesta página, você encontra as funções relacionadas ao nosso segundo microsserviço: Transações.\nAqui, você pode realizar agendamentos, pagamentos, transferências internas e externas e consultar extratos.\nVocê pode achar mais informações sobre o processo de desenvolvimento, no nosso repositório no GitHub no link abaixo :)",
        "version": "1.0.0",
        "title": "API Bluebank: Microsserviços de Transações",
        "contact": {
            "name": "Bluebank repository",
            "url": "https://github.com/ivancmc/bluebank"
        },
        "license": {
            "name": "Apache License Version 2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0"
        }
    },
    "host": "ec2-3-82-216-0.compute-1.amazonaws.com:8102",
    "basePath": "/",
    "tags": [
        {
            "name": "Agendamento",
            "description": " "
        },
        {
            "name": "Transações",
            "description": " "
        }
    ],
    "paths": {
        "/agendamento/efetivar": {
            "get": {
                "tags": [
                    "Agendamento"
                ],
                "summary": "Efetiva as transações agendadas do dia.",
                "description": "Pode ser chamado manualmente, mas está configurado para ser chamado em um horário específico através da função lambda na AWS.",
                "operationId": "agendamentosUsingGET",
                "produces": [
                    "*/*",
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TransacaoModel"
                            }
                        }
                    },
                    "404": {
                        "description": "Não encontrado"
                    }
                },
                "deprecated": false
            }
        },
        "/deposito": {
            "post": {
                "tags": [
                    "Transações"
                ],
                "summary": "Realiza uma transação de depósito na conta especificada.",
                "description": "Para realizar um depósito informe a conta destino e o valor.",
                "operationId": "depositoUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "transacao",
                        "description": "transacao",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TransacaoModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TransacaoModel"
                        }
                    },
                    "201": {
                        "description": "Criado"
                    },
                    "400": {
                        "description": "Erro inesperado"
                    },
                    "401": {
                        "description": "Não autorizado"
                    },
                    "406": {
                        "description": "Não aceito"
                    }
                },
                "deprecated": false
            }
        },
        "/extrato/{numeroConta}": {
            "get": {
                "tags": [
                    "Transações"
                ],
                "summary": "Retorna o extrato da conta especificada no mês corrente.",
                "operationId": "extratoUsingGET",
                "produces": [
                    "*/*",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "numeroConta",
                        "in": "path",
                        "description": "numeroConta",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TransacaoModel"
                            }
                        }
                    },
                    "404": {
                        "description": "Não encontrado"
                    }
                },
                "deprecated": false
            }
        },
        "/extrato/{numeroConta}/{mes}/{ano}": {
            "get": {
                "tags": [
                    "Transações"
                ],
                "summary": "Retorna o extrato da conta especificada durante o mês e ano informado.",
                "operationId": "extratoPorMesUsingGET",
                "produces": [
                    "*/*",
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "ano",
                        "in": "path",
                        "description": "ano",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "mes",
                        "in": "path",
                        "description": "mes",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "numeroConta",
                        "in": "path",
                        "description": "numeroConta",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TransacaoModel"
                            }
                        }
                    },
                    "404": {
                        "description": "Não encontrado"
                    }
                },
                "deprecated": false
            }
        },
        "/saque": {
            "post": {
                "tags": [
                    "Transações"
                ],
                "summary": "Realiza uma transação de saque na conta especificada.",
                "description": "Para realizar um saque informe a conta de origem e o valor.",
                "operationId": "saqueUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "transacao",
                        "description": "transacao",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TransacaoModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TransacaoModel"
                        }
                    },
                    "201": {
                        "description": "Criado"
                    },
                    "400": {
                        "description": "Erro inesperado"
                    },
                    "401": {
                        "description": "Não autorizado"
                    },
                    "406": {
                        "description": "Não aceito"
                    }
                },
                "deprecated": false
            }
        },
        "/transacao": {
            "post": {
                "tags": [
                    "Transações"
                ],
                "summary": "Realiza transações (agendadas ou não) para contas internas e externas incluindo pagamentos.",
                "description": "Para realizar transferências entre contas Bluebank informe:\n- Conta destino, conta origem, valor e tipo da transação.\n\nPara realizar transferências para uma conta externa informe:\n- Conta origem, valor, tipo da transação e os dados cabíveis da conta externa.\n\nPara realizar um pagamento informe:\n- Conta origem, valor, tipo da transação e os dados cabíveis da conta externa.\n\nOs tipos de transações são (informe apenas o número correspondente): \n- 1.TED, 2.DOC, 3.PIX, 6.Pagamento, 7.Transferencia\n\nTodas as transações acima podem ser agendadas, para isso, informe a data de sua preferência:\n- Use este formato: dd/mm/yyyy.\n\nOs campos não citados devem ser ignorados e apagados do corpo JSON.",
                "operationId": "transferenciaUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "transacao",
                        "description": "transacao",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TransacaoModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TransacaoModel"
                            }
                        }
                    },
                    "201": {
                        "description": "Criado"
                    },
                    "400": {
                        "description": "Erro inesperado"
                    },
                    "401": {
                        "description": "Não autorizado"
                    },
                    "406": {
                        "description": "Não aceito"
                    }
                },
                "deprecated": false
            }
        }
    },
    "definitions": {
        "AgendamentoModel": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "string",
                    "format": "date-time"
                },
                "id": {
                    "type": "integer",
                    "format": "int64"
                }
            },
            "title": "AgendamentoModel"
        },
        "ContaExternaModel": {
            "type": "object",
            "properties": {
                "agencia": {
                    "type": "string"
                },
                "banco": {
                    "type": "string"
                },
                "cnpj": {
                    "type": "string"
                },
                "conta": {
                    "type": "string"
                },
                "cpf": {
                    "type": "string"
                },
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "nome": {
                    "type": "string"
                },
                "titulo": {
                    "type": "string"
                }
            },
            "title": "ContaExternaModel"
        },
        "TransacaoModel": {
            "type": "object",
            "properties": {
                "agendamento": {
                    "$ref": "#/definitions/AgendamentoModel"
                },
                "categoria": {
                    "type": "integer",
                    "format": "int32"
                },
                "contaDestino": {
                    "type": "string"
                },
                "contaExterna": {
                    "$ref": "#/definitions/ContaExternaModel"
                },
                "contaOrigem": {
                    "type": "string"
                },
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "momento": {
                    "type": "string",
                    "format": "date-time"
                },
                "tipo": {
                    "type": "integer",
                    "format": "int32"
                },
                "valor": {
                    "type": "number"
                }
            },
            "title": "TransacaoModel"
        }
    }
}